## An anova test for the summed os volume throughout postnatal development is calculated

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.stats.multicomp as mc

In [2]:
stats_path = "../measurements/wt-postnatal-development/"

In [3]:
measurements = pd.read_csv(stats_path + "05-a-measurements-inf-reduced.csv")
measurements

,label,age,biol_repl,image_id,maximum,mean,median,minimum,sigma,sum,...,equivalent_spherical_perimeter_rescaled,equivalent_spherical_radius_rescaled,feret_diameter_rescaled,perimeter_2d_rescaled,major_axis_length_2d_rescaled,minor_axis_length_2d_rescaled,surface_area_rescaled,bbox_volume_rescaled,convex_volume_rescaled,volume_rescaled
0,1,8,1,0,803.0,314.092437,282.884766,186.0,99.098496,261639.0,...,138.287624,1.885333,8.107236,18.460443,8.872033,2.037236,85.604886,116.461211,51.389857,28.070656
1,2,8,1,0,1845.0,620.114058,466.576172,174.0,407.194822,467566.0,...,129.399980,1.823742,6.111447,8.976538,3.444867,2.044837,43.541779,42.257627,29.149001,25.408493
2,3,8,1,0,564.0,274.831858,253.494141,154.0,91.856545,62112.0,...,57.955182,1.220513,3.995289,6.273068,2.549953,1.312964,21.829812,14.018479,9.233325,7.615808
3,4,8,1,0,540.0,285.008439,268.189453,153.0,89.769054,67547.0,...,59.820799,1.240002,4.669557,6.273068,2.766553,1.117553,23.752687,16.175168,9.570308,7.986489
4,5,8,1,0,264.0,234.200000,238.798828,202.0,20.192821,5855.0,...,13.355085,0.585895,2.261000,2.777771,1.010003,0.745937,8.389508,2.426275,1.112043,0.842457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16695,173,24,28,83,312.0,243.290323,245.492188,179.0,26.596939,60336.0,...,61.657763,1.258897,5.297594,9.737588,4.460800,1.451807,40.056207,46.705798,12.805341,8.357170
16696,174,24,28,83,685.0,346.677288,326.101562,187.0,92.460071,424333.0,...,178.734172,2.143385,8.551879,30.066147,8.226779,5.176775,131.982553,226.856733,104.262438,41.246679
16697,175,24,28,83,609.0,337.340530,326.101562,188.0,81.507414,343750.0,...,158.174366,2.016343,8.478365,21.955740,9.303697,3.873424,102.052789,176.915902,74.136187,34.338534
16698,176,24,28,83,347.0,255.431818,252.820312,193.0,37.513655,11239.0,...,19.468019,0.707387,1.910894,4.002664,1.622372,0.810159,7.356350,3.032844,1.819706,1.482724
16699,177,24,28,83,345.0,247.479915,245.492188,176.0,32.455513,117058.0,...,94.825995,1.561205,7.951313,19.177968,9.110146,2.632142,66.644046,116.764495,44.919790,15.939280

In [4]:
summed_volume = measurements.groupby("image_id", as_index=False)["volume_rescaled"].sum()
summed_volume

    image_id  volume_rescaled
0          0      1313.491051
1          1       570.646453
2          2       601.749954
3          3      1508.502922
4          4       768.556375
..       ...              ...
79        79      6357.717242
80        80      3443.423715
81        81      6947.942388
82        82      3305.193424
83        83      3183.508982

[84 rows x 2 columns]

In [5]:
age = measurements.groupby("image_id", as_index=False)["age", "biol_repl"].max()
age

C:\Users\fsalo\AppData\Local\Temp\ipykernel_25260\4016667725.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  age = measurements.groupby("image_id", as_index=False)["age", "biol_repl"].max()

    image_id  age  biol_repl
0          0    8          1
1          1    8          1
2          2    8          1
3          3    8          2
4          4    8          2
..       ...  ...        ...
79        79   24         27
80        80   24         27
81        81   24         28
82        82   24         28
83        83   24         28

[84 rows x 3 columns]

In [6]:
summed_volume = pd.merge(left=summed_volume,
                         right=age,
                         how="inner")
summed_volume

    image_id  volume_rescaled  age  biol_repl
0          0      1313.491051    8          1
1          1       570.646453    8          1
2          2       601.749954    8          1
3          3      1508.502922    8          2
4          4       768.556375    8          2
..       ...              ...  ...        ...
79        79      6357.717242   24         27
80        80      3443.423715   24         27
81        81      6947.942388   24         28
82        82      3305.193424   24         28
83        83      3183.508982   24         28

[84 rows x 4 columns]

In [7]:
volume_averaged = summed_volume.groupby("biol_repl", as_index=False)["volume_rescaled", "age"].mean()
volume_averaged

C:\Users\fsalo\AppData\Local\Temp\ipykernel_25260\2263783405.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  volume_averaged = summed_volume.groupby("biol_repl", as_index=False)["volume_rescaled", "age"].mean()

    biol_repl  volume_rescaled   age
0           1       828.629153   8.0
1           2       808.983063   8.0
2           3       672.190565   8.0
3           4       832.021445   8.0
4           5       870.516099  10.0
5           6       881.490501  10.0
6           7      1241.747441  10.0
7           8      1837.532801  12.0
8           9      2130.831284  12.0
9          10       925.455507  12.0
10         11      1407.947294  12.0
11         12       901.642065  12.0
12         13      4178.495246  14.0
13         14      4084.645572  14.0
14         15      3253.264394  14.0
15         16       966.163013  14.0
16         17      4694.471878  16.0
17         18      3199.032650  16.0
18         19      2834.013022  16.0
19         20      3246.502276  16.0
20         21      5628.958520  20.0
21         22      4700.155652  20.0
22         23      3613.341610  20.0
23         24      4159.556820  20.0
24         25      7665.603148  24.0
25         26      8460.253215  24.0
26         27      6831.829393  24.0
27         28      4478.881598  24.0

In [8]:
#import custom functions
import sys
sys.path.append("../../../../../01_python_definitions")
from fluorescent_microscopy_analysis import tukey_test

In [9]:
f, p, tukey = tukey_test(volume_averaged, feature="volume_rescaled")
tukey